[diff]
    tool = meld
[core]
    autocrlf = false
    editor = nano
    excludesfile = ~/.gitignore
[merge]
    tool = kdiff3
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lga = log --decorate --stat --graph --pretty=format:\"%d %Cgreen%h%Creset (%ar - %Cred%an%Creset), %s%n\"
    lg = log --decorate --graph --format='%Cgreen%h%Creset %ad %C(cyan)%an%Creset - %s%C(red)%d%Creset' --date=short
    l = log --graph --pretty=format:'%Cred%h%Creset - %C(bold blue)%an%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --all
    stat = shortlog -sne
    fa = fetch --all --prune --tags
    review = push origin HEAD:refs/publish/master
    dev-review = push origin HEAD:refs/publish/develop
    draft = push origin HEAD:refs/drafts/master
    draft-dev = push origin HEAD:refs/drafts/develop
    dc = diff --cached
[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = green
    changed = yellow
    untracked = red
[push]
    default = simple